/*Selector Universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
 }

a {
    text-decoration: none;
    color: black;
}

body {
/*     display: flex; */
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

/* CSS PARA BARRA LATERAL */

/* .espacio-lateral {
    width: 16%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
} */


.espacio-lateral {
    width: 16%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    position: fixed;
}
/* 
.espacio-lateral-bloque {
    width: 6em;
    height: 6em;
    position: absolute;
} */

.espacio-lateral header nav ul li a{
    font-size: 1.5em;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.logo {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 30%;
}

.logo figure img {
     width: 10em;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

nav ul li{
    padding: 1em;
    list-style: none;
    font-family: 'Dosis', sans-serif;
    background-color: #8C374E;
}

nav ul li:nth-child(2){
    background-color: #BF5471
}

nav ul li:nth-child(3){
    background-color: #F2809F;
}

nav ul li:nth-child(4){
    background-color: #F2A0B6;
}

nav ul li:nth-child(5){
    background-color: #F2C4D5;
}

.nav-filtros {
    padding: 0 0 2em 0;
    background-color:white;
}

.nav-filtros article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.nav-filtros article a{
    margin: 1em;
    color: #8C374E;
}


footer {
    padding-right: 1em;
}

footer article {
    display: flex;
    justify-content: flex-end;
}

footer img {
    max-width: 2em;
    margin: 0.3em;
}


/* FIN DE CSS PARA BARRA LATERAL*/



/* CSS PARA ESPACIO PRINCIPAL */

.espacio-principal {
    width: 84%;
    min-height: 100vh;
    margin-left: 19em;
}

.espacio-principal section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}


/* .espacio-principal section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 */

.espacio-principal section figure img{
    /* vertical-align: top   arregla el espacio entre figures; */
    width: 100%;
    height: 100%;
}

/* FIN CSS ESPACIO PRINCIPAL */


/* CSS BLOG */

.blog {
    width: 84%;
    min-height: 100vh;
}

.blog section {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "postimportante  postimportante  postimportante  minipost       minipost" 
    "postuno         postuno         postdos          postdos        minipost"
    "minipost        minipost        postimportante  postimportante postimportante"
    "post1           post1           post2           post2          minipost"
    ;
}

.blog section article {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: #8C374E;
  
}


.post1{
    background-color: gold;
    grid-area: postimportante;
}

.post2{
    background-color: darkblue;
    grid-area: minipost;
}

.post3{
    background-color: rosybrown;
    grid-area: postuno;
}

.post4{
    background-color: snow;
    grid-area: postdos;
}


.post5{
    background-color: pink;
    grid-area: minipost;
}

.post6{
    background-color: green;
    grid-area: postimportante;
}

.post7{
    background-color: red;
    grid-area: minipost;
}


.portada-post {
    height: 60%;
    background-image: url(../img/background-blog-ux.png);
    background-size: cover;
}

/* Aca empieza seccion sobre mi */

.sobre-mi {
    text-align: center;
    width: 100%;
}

.sobre-mi section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
}

.sobre-mi h1 {
    color: #8C374E;
    font-weight: 600;
    font-size: 2.5em;
}

.sobre-mi figure img{
    width: 7em;
}

.sobre-mi section article {
    width: 25em;
    background-color: rgb(14, 14, 14);
}

.sobre-mi section article p {
    color: #F2A0B6;
}


/* Aca empieza seccion proyectos */

.proyectos {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proyectos h1 {
    color: #BF5471;
    font-weight: 600;
    font-size: 2.5em;
    margin: 1em 0 1em 0;
    text-align: center;
}

.proyectos section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proyectos section article {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

.proyectos section article figure img {
    width: 12em;
    border-radius: 10em;
}

.proyectos section article p {
    width: 20em;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.proyectos section article p span {
    color: #8C374E;
    font-weight: 600;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
}

.iconos figure img {
    max-width: 2em;
}

/* Aca empieza mi seccion de contacto */

.contacto {
    margin: 5em 0 0 25em;
    width: 30em;
    position: absolute;
    display: flex;
    justify-content: right;
}

.inputMensaje {
    height: 10em;
}

.btn-primary {
    --bs-btn-bg: #8C374E;
    --bs-btn-border-color: #F2A0B6;
}

.contacto h1 {
    text-align: center;
    margin: 1em;
    color: #8C374E;
}

form fieldset {
    min-width: 10em;
    border: 0;
    grid-template-columns: 2fr 1fr;
}

form fieldset legend {
    font-size: 1.5em;
    margin-bottom: 1em;
}

form fieldset textarea {
    background-color: #F2A0B6;
    border-radius: 2em;
    resize: none;
}

form fieldset button {
    font-size: 400;
    border: solid pink;
    border-radius: 5em;
    padding: 1em;
}


form fieldset select {
    font-size: 400;
    border: solid pink;
    border-radius: 5em;
    padding: 1em;
}

form fieldset input {
    border: solid pink;
    border-radius: 5em;
}

form fieldset p{
    margin-bottom: 1em;
}


@media (min-width: 844px) {
    .mobile-menu {
        display: none;
    }
    .footer-mobile {
        display: none;
    }

}

/* MEDIAQUERIE / MOBILE - IPHONE 12 PRO  */
@media (max-width: 844px) {

    .espacio-lateral-bloque {
        display: none;
    }

    .nav-filtros {
        display: none;
    }

    footer {
        display: none;
    }

    .espacio-lateral {
        width: 100%;
        min-height: auto;
    }

    
    .espacio-principal {
        width: 100%;
        min-height: auto;
        margin-top: 5em;
    }

    .espacio-principal section {
        grid-template-columns: repeat(2,1fr);
    }

    .desktop-menu {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav ul li {
        padding: 0.7em;
        font-size: 12px;
    }

    .espacio-lateral header nav ul li a{
        text-transform: lowercase;
    }
    

    .mobile-menu {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .mobile-menu nav ul{
        display: flex;
        flex-direction: row;
    }

    .mobile {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .footer-mobile {
        display: flex;
        justify-content: center;
    }
    
    .contacto {
        margin-top: 5em;
    }

    .contacto form {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .contacto form fieldset {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}


/* TRANSFORMACIONES, TRANSICIONES, ANIMACIONES + GRADIENTES*/

.espacio-lateral header nav ul li a {
    transition: 1s;
}

.espacio-lateral header nav ul li a:hover {
    color: pink;
    letter-spacing: 0.1em;
}

.espacio-lateral section article a:first-child {
    color: white;
    margin: 0;
    padding: 1em;
    background-image: linear-gradient(90deg, rgba(255,141,237,1) 0%, rgba(156,0,108,1) 35%, rgba(195,54,138,1) 100%);
}

.espacio-lateral header nav ul li a {
    position: relative;
    animation: filtros_mov 2s;
}

@keyframes filtros_mov {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
   
}